# Redis/Caddy instance needs:
BACKEND1_ADDR=private_ip_address_from_aws
BACKEND2_ADDR=private_ip_address_from_aws

# Backend instances need:
REDIS_ADDR=private_address_of_load_balancer_and_Redis_instance